@font-face {
    font-family: "OleoScript-Bold";
    src: url(/font/OleoScript-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-Light";
    src: url(/font/Inter-Light.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-Regular";
    src: url(/font/Inter-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "AbyssinicaSIL-Regular";
    src: url(/font/AbyssinicaSIL-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "JacquesFrancois-Regular";
    src: url(/font/JacquesFrancois-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-ExtraBold";
    src: url(/font/Inter-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: "CherryBombOne-Regular";
    src: url(/font/CherryBombOne-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Itim-Regular";
    src: url(/font/Itim-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "JockeyOne-Regular";
    src: url(/font/JockeyOne-Regular.ttf) format('truetype');
}

body{
    background-color:#FFFFFF;
}

.brandApp{
    margin-left: 50px;
}

.textAniqah{
    font-family: 'OleoScript-Bold';
    font-size: 64px;
    margin-bottom: 0px;
}

.deskripsiBrand{
    font-family: 'Inter-Light';
    font-size: 20px;
    margin-top: 0px;
    font-style: italic;
}

.navbar {
    background-color: #BBD6B8;
    margin-top: 30px;
    text-align: justify;
}

.navbar-nav {
    display: flex; /* Mengatur elemen-elemen navbar menjadi tampilan flexbox */
    justify-content: space-between; /* Menyebarkan elemen-elemen secara merata */
    width: 100%; /* Memastikan elemen navbar mengisi lebar penuh */
}

.nav-item {
    flex: 1; /* Membuat setiap elemen mengambil lebar yang sama */
    text-align: center; /* Mengatur teks menjadi berada di tengah */
    white-space: nowrap; /* Mencegah patah baris pada teks */
    font-size: 20px;
    font-family: 'Inter-Regular';
    color: black;
}
/* End brand & navbar */

.judul{
    font-family: 'CherryBombOne-Regular';
    color: #99A799;
    text-align: center;
}

.card:last-child {
    margin-right: 0; /* Hapus margin-right pada card terakhir */
}

/* Card */
.rounded-card {
    width: 110px;
    height: 140px;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.2);
    background-color: #92967D ;
    font-family: 'CherryBombOne-Regular';
    font-size: 40px;
    color: aliceblue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0 auto;
    padding: 0;  
}

.custom-card {
     background-color: #F7F7E8; /* Ganti dengan warna latar belakang yang Anda inginkan */
    border-radius: 60px;
    padding: 0;
    font-size: 20px;
    box-shadow: 2px 6px 10px rgba(2, 2, 2, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #526754;
    font-family:'JockeyOne-Regular' ;
}

/* End Card */

.step{
    font-family: 'Itim-Regular';
    font-size: 35px;
    margin-top: 50px;
    font-style: unset;
    margin-left: 18px;
}



.logoHome{
    text-align: center;
    margin-top: 40px;
}


.footNote{
    background-color: #BBD6B8;
    padding: 40px;
}

.row{
    margin: 60px;
}

.aboutUs{
    font-family: 'Inter-ExtraBold';
}




