@font-face {
    font-family: "OleoScript-Bold";
    src: url(/font/OleoScript-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-Light";
    src: url(/font/Inter-Light.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-Regular";
    src: url(/font/Inter-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "AbyssinicaSIL-Regular";
    src: url(/font/AbyssinicaSIL-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "JacquesFrancois-Regular";
    src: url(/font/JacquesFrancois-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-ExtraBold";
    src: url(/font/Inter-ExtraBold.ttf) format('truetype');

}

@font-face {
    font-family: "DMSerifText-Regular";
    src: url(/font/DMSerifText-Regular.ttf) format('truetype');

}

@font-face {
    font-family: "JosefinSans-VariableFont_wght";
    src: url(/font/JosefinSans-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: "Corinthia-Bold";
    src: url(/font/Corinthia-Bold.ttf) format('truetype');
}

body{
    background-color:#FFFFFF;
}

.brandApp{
    margin-left: 50px;
}

.textAniqah{
    font-family: 'OleoScript-Bold';
    font-size: 64px;
    margin-bottom: 0px;
}

.deskripsiBrand{
    font-family: 'Inter-Light';
    font-size: 20px;
    margin-top: 0px;
    font-style: italic;
}

.navbar {
    background-color: #BBD6B8;
    margin-top: 30px;
    text-align: justify;
}

.navbar-nav {
    display: flex; /* Mengatur elemen-elemen navbar menjadi tampilan flexbox */
    justify-content: space-between; /* Menyebarkan elemen-elemen secara merata */
    width: 100%; /* Memastikan elemen navbar mengisi lebar penuh */
}

.nav-item {
    flex: 1; /* Membuat setiap elemen mengambil lebar yang sama */
    text-align: center; /* Mengatur teks menjadi berada di tengah */
    white-space: nowrap; /* Mencegah patah baris pada teks */
    font-size: 20px;
    font-family: 'Inter-Regular';
    color: black;
}
/* End brand & navbar */

/* Carousel item */
:root {
    --inner-wrapper:980px;
}

.wrapper{
    width: 100%;
    background-color: #EEEEEE;
}

.inner-wrapper{
    max-width: var(--inner-wrapper);
    margin: 0 auto;
}

.header-left{
    max-width: 505px;
    max-height: 180px;
    margin-top: 50px;
}

.header-text{
    font-size: 60px;
    font-family: 'DMSerifText-Regular';
}

.header-desc{
    font-family: 'JosefinSans-VariableFont_wght';
    font-size: medium;
    
}

#btn-Header{
    padding: 10px;
    font-size: 20px;
    padding-right: 20px; 
    padding-left: 20px;
    border-radius: 30px;
    width: 200px;
    height: 60px;
}


.image-container img{
    position: relative;
    max-width: 100%;
    margin-top: 30px;
    background: #716868;
    box-shadow: 0px 4px 4px rgba(222, 222, 222, 0.25);
    border-radius: 50%; /* Membuat latar belakang berbentuk oval */
    object-fit: cover;
    
}

/* end carousel item */

.img {
    object-fit: cover;
    width: 300px;
    height: 400px;
    padding: 20px;
    border-radius: 12%; /* Menambahkan radius ke elemen grid */
    
}  

.img:hover {
    transform: scale(1.1); /* Sesuaikan faktor zoom sesuai kebutuhan Anda */
}  

.center-button {
    display: flex;
    justify-content: center; /* Mengatur tombol di tengah horizontal */
    margin-top: 20px;
}

#btn-SeeMore{
    border-radius: 0%;
    font-family: 'Inter-Regular';
    font-size: 15px;
    width: 120px;
    height: 40px;
    padding: 5px;
}


.desc-product{
    text-align: center;
    font-size: small;
} 
  
.auto-width-button {
    width: auto; /* Mengatur lebar tombol sesuai dengan panjang teks di dalamnya */
}

.footNote{
    background-color: #BBD6B8;
    padding: 40px;
}

.row{
    margin: 60px;
}

.aboutUs{
    font-family: 'Inter-ExtraBold';
}

.itemwhyus{
    background-color: #D9D9D9; 
    width: 90px; 
    height: 90px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}





