@font-face {
    font-family: "OleoScript-Bold";
    src: url(/font/OleoScript-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-Light";
    src: url(/font/Inter-Light.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-Regular";
    src: url(/font/Inter-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "AbyssinicaSIL-Regular";
    src: url(/font/AbyssinicaSIL-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "JacquesFrancois-Regular";
    src: url(/font/JacquesFrancois-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-ExtraBold";
    src: url(/font/Inter-ExtraBold.ttf) format('truetype');

}

#gradient1 {
	background-image: linear-gradient(#FFFFFF, #C7DABC, #B9CFA8);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    background-color:#FFFFFF;
}

.brandApp{
    margin-left: 50px;
}

.textAniqah{
    font-family: 'OleoScript-Bold';
    font-size: 64px;
    margin-bottom: 0px;
}

.deskripsiBrand{
    font-family: 'Inter-Light';
    font-size: 20px;
    margin-top: 0px;
    font-style: italic;
}

.navbar {
    background-color: #BBD6B8;
    margin-top: 30px;
    text-align: justify;
}

.judulDetailLokasi{
    text-align: center;
}

.navbar-nav {
    display: flex; /* Mengatur elemen-elemen navbar menjadi tampilan flexbox */
    justify-content: space-between; /* Menyebarkan elemen-elemen secara merata */
    width: 100%; /* Memastikan elemen navbar mengisi lebar penuh */
}

.nav-item {
    flex: 1; /* Membuat setiap elemen mengambil lebar yang sama */
    text-align: center; /* Mengatur teks menjadi berada di tengah */
    white-space: nowrap; /* Mencegah patah baris pada teks */
    font-size: 36px;
    font-family: 'Inter-Regular';
    color: black;
}

.img {
    object-fit: cover;
    width: 300px;
    height: 400px;
    padding: 20px;
    border-radius: 12%; /* Menambahkan radius ke elemen grid */
    
}  

.img:hover {
    transform: scale(1.1); /* Sesuaikan faktor zoom sesuai kebutuhan Anda */
}  

.center-button {
    display: flex;
    justify-content: center; /* Mengatur tombol di tengah horizontal */
    border-radius: 0%;
}

.desc-product{
    text-align: center;
} 
  
.auto-width-button {
    width: auto; /* Mengatur lebar tombol sesuai dengan panjang teks di dalamnya */
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: linear-gradient(#FFFFFF, #C7DABC, #B9CFA8);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
}
.carousel-inner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-caption {
    color: white; /* Warna teks */
    position: absolute;
    top: 0; /* Menempatkan teks di bagian atas gambar */
    left: 0; /* Menempatkan teks di sisi kiri gambar */
    right: auto; /* Menghapus penyesuaian teks di sisi kanan */
}

.carousel-caption h2,
.carousel-caption p,
.carousel-caption .btn {
    text-align: left; /* Mengatur teks dan tombol ke rata kiri */
}

.carousel-caption .btn {
    float: left; /* Membuat tombol berada di sebelah kiri */
    margin-top: 5px;
}

.footNote{
    background-color: #BBD6B8;
    padding: 40px;
}

.row{
    margin: 60px;
}

.aboutUs{
    font-family: 'Inter-ExtraBold';
}
