@font-face {
    font-family: "OleoScript-Bold";
    src: url(/font/OleoScript-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-Light";
    src: url(/font/Inter-Light.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-Regular";
    src: url(/font/Inter-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "AbyssinicaSIL-Regular";
    src: url(/font/AbyssinicaSIL-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "JacquesFrancois-Regular";
    src: url(/font/JacquesFrancois-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-ExtraBold";
    src: url(/font/Inter-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: "Corinthia-Bold";
    src: url(/font/Corinthia-Bold.ttf) format('truetype');
}


body{
    background-color:#FFFFFF;
}

.brandApp{
    margin-left: 50px;
}

.textAniqah{
    font-family: 'OleoScript-Bold';
    font-size: 64px;
    margin-bottom: 0px;
}

.deskripsiBrand{
    font-family: 'Inter-Light';
    font-size: 20px;
    margin-top: 0px;
    font-style: italic;
}

.navbar {
    background-color: #BBD6B8;
    margin-top: 30px;
    text-align: justify;
}

.navbar-nav {
    display: flex; /* Mengatur elemen-elemen navbar menjadi tampilan flexbox */
    justify-content: space-between; /* Menyebarkan elemen-elemen secara merata */
    width: 100%; /* Memastikan elemen navbar mengisi lebar penuh */
}

.nav-item {
    flex: 1; /* Membuat setiap elemen mengambil lebar yang sama */
    text-align: center; /* Mengatur teks menjadi berada di tengah */
    white-space: nowrap; /* Mencegah patah baris pada teks */
    font-size: 36px;
    font-family: 'Inter-Regular';
    color: black;
}

.textTitle{
    font-family: 'Corinthia-Bold';
    font-size: 70px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0px;
    color: black;
}

.description{
    font-family: 'Inter-Regular';
    text-align: center;
    margin-top: 0px;
    color: black;
}   

/* .row{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Membagi grid menjadi 2 kolom yang sama lebar */
    /* gap: 20px; Jarak antara card
} */ 

/* .card {
    background-color: #DBE4C6;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

.card-content1 {
    background-color: #DBE4C6;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    height: 100px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

.card-content2 {
    background-color: #DBE4C6;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

.card-content3 {
    background-color: #BBD6B8;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
} */

.footNote{
    background-color: #BBD6B8;
    padding: 40px;
}

.row{
    margin: 60px;
}

.aboutUs{
    font-family: 'Inter-ExtraBold';
}