@font-face {
    font-family: "OleoScript-Bold";
    src: url(/font/OleoScript-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-Light";
    src: url(/font/Inter-Light.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-Regular";
    src: url(/font/Inter-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "AbyssinicaSIL-Regular";
    src: url(/font/AbyssinicaSIL-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "JacquesFrancois-Regular";
    src: url(/font/JacquesFrancois-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-ExtraBold";
    src: url(/font/Inter-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: "Corinthia-Bold";
    src: url(/font/Corinthia-Bold.ttf) format('truetype');
}


body{
    background-color:#FFFFFF;
}

.brandApp{
    margin-left: 50px;
}

.textAniqah{
    font-family: 'OleoScript-Bold';
    font-size: 64px;
    margin-bottom: 0px;
}

.deskripsiBrand{
    font-family: 'Inter-Light';
    font-size: 20px;
    margin-top: 0px;
    font-style: italic;
}

.navbar {
    background-color: #BBD6B8;
    margin-top: 30px;
    text-align: justify;
}

.navbar-nav {
    display: flex; /* Mengatur elemen-elemen navbar menjadi tampilan flexbox */
    justify-content: space-between; /* Menyebarkan elemen-elemen secara merata */
    width: 100%; /* Memastikan elemen navbar mengisi lebar penuh */
}

.nav-item {
    flex: 1; /* Membuat setiap elemen mengambil lebar yang sama */
    text-align: center; /* Mengatur teks menjadi berada di tengah */
    white-space: nowrap; /* Mencegah patah baris pada teks */
    font-size: 36px;
    font-family: 'Inter-Regular';
    color: black;
}

.textTitle{
    font-family: 'Corinthia-Bold';
    font-size: 70px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0px;
    color: black;
}

.description{
    font-family: 'Inter-Regular';
    text-align: center;
    margin-top: 0px;
    color: black;
}  

.card{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-content{
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-1{
    width: 186%;
    height: auto;
    /* max-width: 100%;
    max-height: 100%; */
    display: block;
    margin: 0 auto;
}

.image-2{
    width: 150%;
    height: auto;
    /* max-width: 100%;
    max-height: 100%; */
    display: block;
    margin: 0 auto;
}

.image-3{
    width: 150%;
    height: auto;
    /* max-width: 100%;
    max-height: 100%; */
    display: block;
    margin: 0 auto;
}

.custom-arrows {
    text-align: center; 
}

.custom-arrows i {
    margin: 0 20px; 
    margin-bottom: 50px;
    color: #6e836c; 
}

.custom-button {
    background-color: #D6E8DB; /* Warna latar belakang tombol */
    width: 300px;
    height: 50px;
    border: 1px solid #2e382d;
    padding: 20px;
    border-radius: 10px;
    border-radius: 5px; /* Sudut bulat tombol */
    text-align: center; /* Pusatkan teks secara horizontal */
    margin: 0 auto; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    margin-bottom: 50px;
}

.custom-button:hover {
    background-color: #70bd85; /* Warna latar belakang saat tombol dihover */
}


.footNote{
    background-color: #BBD6B8;
    padding: 40px;
}

.row{
    margin: 60px;
}

.aboutUs{
    font-family: 'Inter-ExtraBold';
}