@font-face {
    font-family: "OleoScript-Bold";
    src: url(/font/OleoScript-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-Light";
    src: url(/font/Inter-Light.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-Regular";
    src: url(/font/Inter-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "AbyssinicaSIL-Regular";
    src: url(/font/AbyssinicaSIL-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "JacquesFrancois-Regular";
    src: url(/font/JacquesFrancois-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-ExtraBold";
    src: url(/font/Inter-ExtraBold.ttf) format('truetype');
}
@font-face {
    font-family: "Abril-Fatface";
    src: url(/font/Abril-Fatface.ttf) format('truetype');
}

body{
    background-color:#FFFFFF;
}

.brandApp{
    margin-left: 50px;
}

.textAniqah{
    font-family: 'OleoScript-Bold';
    font-size: 64px;
    margin-bottom: 0px;
}

.deskripsiBrand{
    font-family: 'Inter-Light';
    font-size: 20px;
    margin-top: 0px;
    font-style: italic;
}

.navbar {
    background-color: #BBD6B8;
    margin-top: 30px;
    text-align: justify;
}

.judulDetailLokasi{
    text-align: center;
}

.navbar-nav {
    display: flex; /* Mengatur elemen-elemen navbar menjadi tampilan flexbox */
    justify-content: space-between; /* Menyebarkan elemen-elemen secara merata */
    width: 100%; /* Memastikan elemen navbar mengisi lebar penuh */
}

.nav-item {
    flex: 1; /* Membuat setiap elemen mengambil lebar yang sama */
    text-align: center; /* Mengatur teks menjadi berada di tengah */
    white-space: nowrap; /* Mencegah patah baris pada teks */
    font-size: 36px;
    font-family: 'Inter-Regular';
    color: black;
}


.logoHome{
    text-align: center;
    margin-top: 40px;
}

.lokasi{
    text-align: center;
    margin-top: 40px;
    font-family: 'JacquesFrancois-Regular';
    font-size: 36px;
}

.footNote{
    background-color: #BBD6B8;
    padding: 40px;
}

.row{
    margin: 60px;
}

.aboutUs{
    font-family: 'Inter-ExtraBold';
}

.custom-heading {
    font-family: 'Abril-Fatface';
    padding: 20px;
    margin-left: 50px;
}
.col {
    background-color: #BBD6B8; /* Ganti dengan warna latar belakang yang diinginkan, contoh: oranye */
    padding: 30px;
    margin: 5px;
    border-radius: 10px;
}
.line-with-text {
    position: relative;
    text-align: center;
    margin-top: 20px; /* Atur jarak atas sesuai kebutuhan */
}

.line-with-text div {
    border-top: 10px solid black; /* Atur ketebalan garis (10px dalam contoh ini) */
    position: absolute;
    width: 100%;
    top: 50%;
    z-index: -1;
}


.colReview {
    background-color: #fcf6ef;
    margin: 5px;
    border-radius: 100px;
    width: 400px;
    /* height: 100px; */
}

.col-4 h6 {
    margin-top: 20px; /* Atur jarak atas sesuai kebutuhan */
}
.bg-light {
    font-family: 'JacquesFrancois-Regular';
    font-size: 30px;
}
.line-with-text div {
    border-top: 10px solid black; /* Atur ketebalan garis (10px dalam contoh ini) */
    position: absolute;
    width: 100%;
    top: 50%;
    z-index: -1;
}

.line-with-text span {
    background-color: #FFFFFF;
    padding: 10px 20px;
    font-size: 30px;
    font-family: 'Abril-Fatface';
    font-weight: normal; /* Mengatur tulisan menjadi tidak tebal */
}

.yellow-star {
    color: yellow;
}
.navbar {
    background-color: #BBD6B8;
    margin-top: 30px;
    text-align: justify;
}

.navbar-nav {
    display: flex; /* Mengatur elemen-elemen navbar menjadi tampilan flexbox */
    justify-content: space-between; /* Menyebarkan elemen-elemen secara merata */
    width: 100%; /* Memastikan elemen navbar mengisi lebar penuh */
}

.nav-item {
    flex: 1; /* Membuat setiap elemen mengambil lebar yang sama */
    text-align: center; /* Mengatur teks menjadi berada di tengah */
    white-space: nowrap; /* Mencegah patah baris pada teks */
    font-size: 20px;
    font-family: 'Inter-Regular';
    color: black;
}
/* Mengubah latar belakang small-box menjadi warna kustom */
.custom-bg {
    background-color: #BBD6B8; /* Gantilah dengan kode warna yang diinginkan */
}

/* Menyesuaikan ukuran gambar */
.custom-image {
    width: 100%; /* Lebar gambar 100% dari container */
    height: 100; /* Mempertahankan aspek rasio gambar */
}
.small-box {
    max-width: 300px; /* Menentukan lebar maksimal small-box */
    margin: 0 auto; /* Memusatkan small-box horizontal */
    text-align: center; /* Memusatkan isi small-box */
    padding: 20px; /* Menambahkan padding agar kontennya tidak terlalu dekat dengan pinggir */
}
.rounded {
    border-radius: 20px; /* Menambahkan radius pinggir 10px */
}

.card-img-top {
    width: 100%; /* Menentukan lebar gambar 100% dari parent (small-box) */
    height: auto; /* Mempertahankan aspek rasio gambar */
    border-radius: 20px; /* Menambahkan radius pinggir gambar */
}

.btn {
    margin-top: 10px; /* Menambahkan margin atas pada tombol */
}
/* End brand & navbar */
/* Tambahkan filter CSS dengan efek warna */
