@font-face {
    font-family: "OleoScript-Bold";
    src: url(/font/OleoScript-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-Light";
    src: url(/font/Inter-Light.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-Regular";
    src: url(/font/Inter-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "AbyssinicaSIL-Regular";
    src: url(/font/AbyssinicaSIL-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "JacquesFrancois-Regular";
    src: url(/font/JacquesFrancois-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-ExtraBold";
    src: url(/font/Inter-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: "Corinthia-Bold";
    src: url(/font/Corinthia-Bold.ttf) format('truetype');
}


body{
    background-color:#FFFFFF;
}

.brandApp{
    margin-left: 50px;
}

.textAniqah{
    font-family: 'OleoScript-Bold';
    font-size: 64px;
    margin-bottom: 0px;
}

.deskripsiBrand{
    font-family: 'Inter-Light';
    font-size: 20px;
    margin-top: 0px;
    font-style: italic;
}

.navbar {
    background-color: #BBD6B8;
    margin-top: 30px;
    text-align: justify;
}

.navbar-nav {
    display: flex; /* Mengatur elemen-elemen navbar menjadi tampilan flexbox */
    justify-content: space-between; /* Menyebarkan elemen-elemen secara merata */
    width: 100%; /* Memastikan elemen navbar mengisi lebar penuh */
}

.nav-item {
    flex: 1; /* Membuat setiap elemen mengambil lebar yang sama */
    text-align: center; /* Mengatur teks menjadi berada di tengah */
    white-space: nowrap; /* Mencegah patah baris pada teks */
    font-size: 20px;
    font-family: 'Inter-Regular';
    color: black;
}
/* End brand & navbar */

/* CSS untuk layout */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    height: 1000px; /* Sesuaikan tinggi container sesuai kebutuhan */
}

/* Gaya kolom */
.column {
    padding: 10px; /* Sesuaikan padding sesuai kebutuhan */
}

/* Gaya baris */
.row {
    text-align: left;
    margin-bottom: 10px; /* Sesuaikan margin-bottom sesuai kebutuhan */
    border-bottom: 1px solid #ddd; /* Tambahkan garis di bawah setiap baris */
}

/* Hapus garis di atas baris pertama di setiap kolom */
.column .row:first-child {
    border-top: none;
}

/* Tambahkan garis di antara kolom pertama dan kedua, serta antara kolom kedua dan ketiga */
.container .column:not(:last-child) {
    border-right: 1px solid #ddd;
}

/* Gaya untuk grid di kolom pertama */
.profile-grid {
    display: grid;
    grid-template-columns: 80px 1fr; /* Sesuaikan ukuran kolom sesuai kebutuhan */
    gap: 10px; 
    margin-top: 20px;
    align-items: center;
}

/* Gaya untuk gambar profil bulat */
.profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #D6B8D5;
}

/* Gaya untuk teks di sebelah kanan gambar profil */
.profile-text {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.profile-text .username {
    font-weight: bold;
}

.akun {
    display: flex;
    align-items: center;
    margin-top: 25px;
    color: #E97E67;
}

.akun i {
    margin-right: 10px; /* Sesuaikan jarak antara ikon dan teks */
}

label, input {
    display: block;
    margin-bottom: 10px; /* Atur margin bawah sesuai kebutuhan */
}

input {
    width: 300px;
    height: 40px;
}

.text-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.text-container > div {
    padding: 10px;
}

.text-container p {
    margin: 5px 0;
}

.custom-button {
    background-color: #D6E8DB; /* Warna latar belakang tombol */
    width: 180px;
    height: 40px;
    border: 1px solid #2e382d;
    padding: 20px;
    border-radius: 10px;
    border-radius: 35px; /* Sudut bulat tombol */
    text-align: center; /* Pusatkan teks secara horizontal */
    margin: 0 auto; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    margin-top: 200px;
}

.custom-button:hover {
    background-color: #70bd85; /* Warna latar belakang saat tombol dihover */
}

.profile-picture2 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #D6B8D5;
    margin: auto;
}

.custom-button.secondary {
    background-color: #ffd5cc; /* Warna latar belakang tombol */
    width: 180px;
    height: 40px;
    border: 1px solid #2e382d;
    padding: 20px;
    border-radius: 10px;
    border-radius: 35px; /* Sudut bulat tombol */
    text-align: center; /* Pusatkan teks secara horizontal */
    margin: 0 auto; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    margin-top: 100px;
}

.custom-button.secondary:hover {
    background-color: #E97E67; /* Warna latar belakang saat tombol dihover */
}



.footNote{
    background-color: #BBD6B8;
    padding: 40px;
}

.row{
    margin: 60px;
}

.aboutUs{
    font-family: 'Inter-ExtraBold';
}
