@font-face {
    font-family: "OleoScript-Bold";
    src: url(/font/OleoScript-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-Light";
    src: url(/font/Inter-Light.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-Regular";
    src: url(/font/Inter-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "AbyssinicaSIL-Regular";
    src: url(/font/AbyssinicaSIL-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "JacquesFrancois-Regular";
    src: url(/font/JacquesFrancois-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-ExtraBold";
    src: url(/font/Inter-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: "CherryBombOne-Regular";
    src: url(/font/CherryBombOne-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Itim-Regular";
    src: url(/font/Itim-Regular.ttf) format('truetype');
}

body{
    background-color:#FFFFFF;
}

.brandApp{
    margin-left: 50px;
}

.textAniqah{
    font-family: 'OleoScript-Bold';
    font-size: 64px;
    margin-bottom: 0px;
}

.deskripsiBrand{
    font-family: 'Inter-Light';
    font-size: 20px;
    margin-top: 0px;
    font-style: italic;
}

.navbar {
    background-color: #BBD6B8;
    margin-top: 30px;
    text-align: justify;
}

.navbar-nav {
    display: flex; /* Mengatur elemen-elemen navbar menjadi tampilan flexbox */
    justify-content: space-between; /* Menyebarkan elemen-elemen secara merata */
    width: 100%; /* Memastikan elemen navbar mengisi lebar penuh */
}

.nav-item {
    flex: 1; /* Membuat setiap elemen mengambil lebar yang sama */
    text-align: center; /* Mengatur teks menjadi berada di tengah */
    white-space: nowrap; /* Mencegah patah baris pada teks */
    font-size: 20px;
    font-family: 'Inter-Regular';
    color: black;
}
/* End brand & navbar */

.judul{
    font-family: 'CherryBombOne-Regular';
    color: #526754;
    text-align: center;
}

.card:last-child {
    margin-right: 0; /* Hapus margin-right pada card terakhir */
}

.rounded-card {
    width: 120px;
    height: 120px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #BBD6B8   ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0 auto;
    padding: 0;
    
}

.step{
    font-family: 'Itim-Regular';
    font-size: 35px;
    margin-top: 50px;
    font-style: unset;
    margin-left: 18px;
}

/* form */
.modal-header{
    background-color: #BBD6B8;
}

.my-custom-modal .modal-content {
    padding: 5px;
}

.forAdd{
    margin-right: 5px;
    margin-bottom: 5px;
}

/* CSS untuk mengurangi jarak antar input fields */
.modal-body .row.mb-3 {
    margin: 2px;
}

.btn-custom-sm {
    padding: 5px 10px;
    font-size: 12px;
}

.custom-input {
    background-color: #D9D9D9;
}

.btn{
    margin-right: 10px;
}

.logoHome{
    text-align: center;
    margin-top: 40px;
}


.footNote{
    background-color: #BBD6B8;
    padding: 40px;
}

.row{
    margin: 60px;
}

.aboutUs{
    font-family: 'Inter-ExtraBold';
}
.custom-card {
    background-color: #DBE4C6; /* Ganti dengan warna latar belakang yang Anda inginkan */
    border-radius: 50px;
    padding: 0;
    font-size: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.custom-card rounded-circle {
    .custom-small-card {
        width: 50px; /* Atur lebar sesuai kebutuhan */
        height: 50px; /* Atur tinggi sesuai kebutuhan */
    }
}

.modal-title{
    font-family: 'Itim-Regular'
}
