@font-face {
    font-family: "OleoScript-Bold";
    src: url(/font/OleoScript-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-Light";
    src: url(/font/Inter-Light.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-Regular";
    src: url(/font/Inter-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "AbyssinicaSIL-Regular";
    src: url(/font/AbyssinicaSIL-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "JacquesFrancois-Regular";
    src: url(/font/JacquesFrancois-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-ExtraBold";
    src: url(/font/Inter-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: "CherryBombOne-Regular";
    src: url(/font/CherryBombOne-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Itim-Regular";
    src: url(/font/Itim-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "JockeyOne-Regular";
    src: url(/font/JockeyOne-Regular.ttf) format('truetype');
}

body{
    background-color:#FFFFFF;
}

.brandApp{
    margin-left: 50px;
}

.textAniqah{
    font-family: 'OleoScript-Bold';
    font-size: 64px;
    margin-bottom: 0px;
}

.deskripsiBrand{
    font-family: 'Inter-Light';
    font-size: 20px;
    margin-top: 0px;
    font-style: italic;
}

.navbar {
    background-color: #BBD6B8;
    margin-top: 30px;
    text-align: justify;
}

.navbar-nav {
    display: flex; /* Mengatur elemen-elemen navbar menjadi tampilan flexbox */
    justify-content: space-between; /* Menyebarkan elemen-elemen secara merata */
    width: 100%; /* Memastikan elemen navbar mengisi lebar penuh */
}

.nav-item {
    flex: 1; /* Membuat setiap elemen mengambil lebar yang sama */
    text-align: center; /* Mengatur teks menjadi berada di tengah */
    white-space: nowrap; /* Mencegah patah baris pada teks */
    font-size: 20px;
    font-family: 'Inter-Regular';
    color: black;
}
/* End brand & navbar */

.judul{
    font-family: 'CherryBombOne-Regular';
    color: #99A799;
    text-align: center;
}

/* Card */
.rounded-card {
    width: 90px;
    height: 110px;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.2);
    background-color: #94A684 ;
    font-family: 'CherryBombOne-Regular';
    font-size: 40px;
    color: aliceblue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0 auto;
    padding: 0;  
}

.custom-card {
    background-color: #EBF3E8; /* Ganti dengan warna latar belakang yang Anda inginkan */
    border-radius: 40px;
    padding: 30px;
    flex-grow: 1;
    font-size: 20px;
    box-shadow: 2px 6px 10px rgba(2, 2, 2, 0.2);
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #526754;
    font-family:'JockeyOne-Regular' ;
   
}

/* End Card */


/* Modal */
.modal-title{
    font-family: 'OleoScript-Bold';
    font-size: 44px;
}

.h3carapesan{
    font-family: 'JockeyOne-Regular';
    font-size: 30px;
}

.-form-label{
    font-family: 'JockeyOne-Regular';
}
/* End Modal */

/* form */
.modal-header{
    background-color: #BBD6B8;
}

.my-custom-modal .modal-content {
    padding: 5px;
}

.forAdd{
    margin-right: 5px;
    margin-bottom: 5px;
}

/* CSS untuk mengurangi jarak antar input fields */
.modal-body .row.mb-3 {
    margin: 2px;
}

.btn-custom-sm {
    padding: 5px 10px;
    font-size: 12px;
}

.custom-input {
    background-color: #D9D9D9;
}

.btn{
    margin-right: 10px;
}

.logoHome{
    text-align: center;
    margin-top: 40px;
}


.footNote{
    background-color: #BBD6B8;
    padding: 40px;
}

.row{
    margin: 60px;
}

.aboutUs{
    font-family: 'Inter-ExtraBold';
}


