@font-face {
    font-family: "OleoScript-Bold";
    src: url(/font/OleoScript-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-Light";
    src: url(/font/Inter-Light.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-Regular";
    src: url(/font/Inter-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "AbyssinicaSIL-Regular";
    src: url(/font/AbyssinicaSIL-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "JacquesFrancois-Regular";
    src: url(/font/JacquesFrancois-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Inter-ExtraBold";
    src: url(/font/Inter-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: "Corinthia-Bold";
    src: url(/font/Corinthia-Bold.ttf) format('truetype');
}


body{
    background-color:#FFFFFF;
}

.brandApp{
    margin-left: 50px;
}

.textAniqah{
    font-family: 'OleoScript-Bold';
    font-size: 64px;
    margin-bottom: 0px;
}

.deskripsiBrand{
    font-family: 'Inter-Light';
    font-size: 20px;
    margin-top: 0px;
    font-style: italic;
}

/* Gaya untuk tombol close */
.modal-header .close {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 24px;
    cursor: pointer;
}

/* Gaya untuk modal */
.modal {
    max-width: 500px; 
    margin: 0 auto;
}

/* Gaya untuk elemen judul modal */
.modal-header {
    position: relative;
    background-color: #9fda98;
    color: #0f0f0f;
    padding: 10px;
    text-align: center;
}

/* Gaya untuk judul modal */
.modal-header h2 {
    margin: 0;
    font-family: 'OleoScript-Bold';
    font-size: 25px;
}

/* Gaya untuk input jenis baju */
.modal-body h4 {
    margin-top: 0px;
}

/* Gaya untuk label gambar */
.modal-body label {
    cursor: pointer;
    display: block;
    text-align: center;
    margin-top: 10px;
}

/* Gaya untuk ikon gambar */
.modal-body i {
    margin-right: 5px;
}

/* Gaya untuk tombol submit */
.modal-footer button[type="submit"] {
    background-color: #65c468;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.custom-file-upload {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.custom-file-upload:hover {
    background-color: #45a049;
}

.navbar {
    background-color: #BBD6B8;
    margin-top: 30px;
    text-align: justify;
}

.navbar-nav {
    display: flex; /* Mengatur elemen-elemen navbar menjadi tampilan flexbox */
    justify-content: space-between; /* Menyebarkan elemen-elemen secara merata */
    width: 100%; /* Memastikan elemen navbar mengisi lebar penuh */
}

.nav-item {
    flex: 1; /* Membuat setiap elemen mengambil lebar yang sama */
    text-align: center; /* Mengatur teks menjadi berada di tengah */
    white-space: nowrap; /* Mencegah patah baris pada teks */
    font-size: 20px;
    font-family: 'Inter-Regular';
    color: black;
}
/* End brand & navbar */

.textTitle{
    font-family: 'Corinthia-Bold';
    font-size: 70px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0px;
    color: black;
}

.description{
    font-family: 'Inter-Regular';
    text-align: center;
    margin-top: 0px;
    color: black;
}  

.card{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-content{
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-1{
    width: 186%;
    height: auto;
    /* max-width: 100%;
    max-height: 100%; */
    display: block;
    margin: 0 auto;
}

.image-2{
    width: 150%;
    height: auto;
    /* max-width: 100%;
    max-height: 100%; */
    display: block;
    margin: 0 auto;
}

.image-3{
    width: 150%;
    height: auto;
    /* max-width: 100%;
    max-height: 100%; */
    display: block;
    margin: 0 auto;
}

.custom-arrows {
    text-align: center; 
}

.custom-arrows i {
    margin: 0 20px; 
    margin-bottom: 50px;
    color: #6e836c; 
}

.custom-button {
    background-color: #D6E8DB; /* Warna latar belakang tombol */
    width: 300px;
    height: 50px;
    border: 1px solid #2e382d;
    padding: 20px;
    border-radius: 10px;
    border-radius: 5px; /* Sudut bulat tombol */
    text-align: center; /* Pusatkan teks secara horizontal */
    margin: 0 auto; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    margin-bottom: 50px;
}

.custom-button:hover {
    background-color: #70bd85; /* Warna latar belakang saat tombol dihover */
}


.footNote{
    background-color: #BBD6B8;
    padding: 40px;
}

.row{
    margin: 60px;
}

.aboutUs{
    font-family: 'Inter-ExtraBold';
}